{% load static %}
<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- Titulo -->
    <title>Proyecto_1</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <center>
       Crear cuenta
    <form class="" action="Iniciar_sesion.html" method="post">

      <input type="text" name="" placeholder="Correo electronico">
      <br>
      <br>
      <input type="text" name="" placeholder="Nombre de cuenta">
      <br>
      <br>
      <input type="text" name="" placeholder="Contraseña">
      <br>
      <br>
      <input type="password" name="" placeholder="Repetir contraseña">
      <br>
      <br>
      <button name="button">Iniciar</button>
    </center>

    </form>

  </body>
</html>
