<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">

    <!-- Titulo -->
    <title>Iniciar sesion</title>


  </head>
  <body>

        <center>

                  Iniciar sesion


      <form class="" action="{%url 'login' %}" method="post">


        <input type="text" name="username" placeholder="Correo electronico">
        <br>
        <br>
        <input type="text" name="password" placeholder="Contraseña">
        <br>
        <br>
        <button name="button">Entrar</button>

        {% csrf_token %}

      </form>
    </form>

      <br>
      <br>

  </body>


    <center>
</html>
