{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Andres Julian Avella C.</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">


</head>

<body>

<section class="insta">
  <section class="insta-header"><img class="insta-profile-photo" src="http://images.thisisxbox.com/2015/05/The_Witcher_3-Wild_Hunt_Skellige_is_a_beautiful_place-1024x576.png"/>
    <section class="insta-header-data">
      <section class="insta-info"></section>
      <h2 class="insta-username"></h2>
      <button class="insta-follow-button">Seguir</button>
      <button class="insta-suggestions fa fa-caret-down"></button>
      <button class="insta-options fa fa-ellipsis-h"></button>
      <section class="insta-follows">
        <p><span class="insta-indicator">12</span>publicaciones</p>
        <p><span class="insta-indicator">23</span>seguidores</p>
        <p><span class="insta-indicator">30</span>seguidos</p>
      </section>
      <section class="insta-description">I dunno I kinda jerk off n' shit</section>
    </section>
  </section>
  <section class="insta-galery">
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
    <section class="insta-picture-container"><img class="insta-picture" src="http://via.placeholder.com/300x300"/>
      <section class="insta-picture-data"><span><i class="fa fa-heart-o"></i><span>12k</span></span><span><i class="fa fa-comment"></i><span>13k</span></span></section>
    </section>
  </section>
</section>


</body>
</html>
